/*
BODY STYLING
*/
.body {
  /*background: #56d;*/
  margin-bottom:4em;
}
body {
  background-image: url('/img/wine.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.btn-blk {
  background: #000;
  color:#fff;
  font-weight: 600;
}
.btn:hover, .btn:focus {
  color: red
}
/*
SIDE NAV STYLING
*/
.navBtn {
  margin: 15px auto;
}

/*
JUMBOTRON
*/
ul li {
  list-style: none;
  display: inline-block;
}
.jumbotron {
  margin-top: 4em;
  border-radius: .33em;
  background: rgba(255, 255, 255, 0.7);
}
.dashBtn {
  width: 9em;
}

/*
THE SIX WINE DIVS
*/
.wine {
  border: 2px solid #000;
  margin:5px auto;
  background:#fff;
}
#wineInfo {
  margin-bottom: 1.5em;
}

/*
DASHBOARD STYLING
*/
#wineDisplay {
  padding-top: 2em;
}
.dashwrap {
  margin: 0 auto;
}
form {
  margin: 0 auto;
  text-align: center
}
.wineForm{
  padding-bottom: 10px;
}
img {
  width:150px;
  margin:1em;
  border-radius: 1em;
}

#dashboard {
  border: 5px solid #000;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 15px;
}
