<div  id="wrapper"data-spy="scroll" data-target=".navbar" data-offset="50" >
<section id="home" ng-controller='HomeCtrl as vm'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".hideWine").click(function(e){
				$("#wineInfo").hide();
				$("#dashboard").show();
			});
			$(".hideDash").click(function(e){
				$("#dashboard").hide();
				$("#wineInfo").show();
			});
		})

	</script>

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="jumbotron">


          <ul class='navbar'>
          	<li><a class="btn btn-default dashBtn" ng-click="logout()" >Logout</a></li>
            <li><a class="btn btn-default dashBtn hideDash" >Wines</a></li>
						<li><a class="btn btn-default dashBtn hideWine" >Dash</a></li>
						<li><a class="btn btn-default dashBtn" data-toggle="collapse" data-target="#settings">Settings</a></li>
          </ul>


					<div id="settings" class="collapse">
						<input ng-model="profile.name"/>
						<input type="file" id="bannerImg"  />

						<button class="btn btn-default dashBtn" ng-click="update()">Update Profile</button>
						<script type="text/javascript">
							// Get all variables
							var bannerImage = document.getElementById('bannerImg');
							var result = document.getElementById('res');
							var img = document.getElementById('tableBanner');

							//
							bannerImage.addEventListener('change', function() {
								var file = this.files[0];
								if (file.type.indexOf('image') < 0) {
										res.innerHTML = 'invalid type';
										return;
								}
								var fReader = new FileReader();
								fReader.onload = function() {
										img.src = fReader.result;
										localStorage.setItem("imgData", getBase64Image(img));
								};

								fReader.readAsDataURL(file);
							});

							function getBase64Image(img) {
								var canvas = document.createElement("canvas");
								canvas.width = img.width;
								canvas.height = img.height;

								var ctx = canvas.getContext("2d");
								ctx.drawImage(img, 0, 0);

								var dataURL = canvas.toDataURL("image/png");

								return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
							}

							function fetchimage () {
								var dataImage = localStorage.getItem('imgData');
								img.src = "data:image/png;base64," + dataImage;
							}

							// Call fetch to get image from localStorage.
							fetchimage();
						</script>
					</div>

					<h2>
  					Hello, {{profile.name}}!
  				</h2>

  				<p>
  					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  				</p>

  			</div>
			</div>
		</div>
	</div>

	<div class="container" id="wineInfo">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="row">

  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id01').style.display='block'"><h2>{{redWine.title}}</h2></a>

						<div id="id01" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some red wine text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>

  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id02').style.display='block'"><h2>{{whiteWine.title}}</h2></a>
						<div id="id02" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some white wine text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id03').style.display='block'"><h2>{{roseWine.title}}</h2></a>
						<div id="id03" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id03').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some rose wine text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>
  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id04').style.display='block'"><h2>{{champagne.title}}</h2></a>
						<div id="id04" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id04').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some champagne text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id05').style.display='block'"><h2>{{ports.title}}</h2></a>
						<div id="id05" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id05').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some port text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>
  				<div class="col-md-6 wine">
            <a href="javascript:void(0)" class=" w3-text-theme" onclick="document.getElementById('id06').style.display='block'"><h2>{{sangria.title}}</h2></a>
						<div id="id06" class="w3-modal">
					    <div class="w3-modal-content">
					      <div class="w3-container">
					        <span onclick="document.getElementById('id06').style.display='none'" class="w3-closebtn">&times;</span>
					        <p>Some sangria text. Some text. Some text.</p>
					      </div>
					    </div>
					  </div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<section id="dashboard">
	<div class="container">
  	<div class="row">
  		<div class="col-md-12 dashwrap">
				<h1>Mi Vino Dashboard</h1>
				<img src="" id="tableBanner" />
				<div id="res"></div>
				<p>	{{wines.length}} wine bottle(s) in {{profile.name}}'s collection'</p>

				<form class="flex-container">
					<input class="flex-item" ng-model="wine.name" placeholder="Wine Name"/>
					<input class="flex-item" ng-model="wine.winery" placeholder="Winery"/>
					<input class="flex-item" ng-model="wine.type" placeholder="Wine Variety"/>
					<input class="flex-item" ng-model="wine.year" placeholder="Wine Year"/>
					<input class="flex-item" ng-model="wine.location" placeholder="Wine Location"/><br><br>
						<button ng-click="addWine()">Add Wine</button>
				</form>


				<div id="wineDisplay"ng-repeat="wine in wines">
					<b>{{wine.name}}</b><br>
					{{wine.winery}}<br>
					{{wine.year}}
					{{wine.type}}<br>
					{{wine.location}}
					<br><button ng-click="removeWine(wine)">Destroy</button><hr>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
