<div  data-spy="scroll" data-target=".navbar" data-offset="50" >
<section id="home" ng-controller='HomeCtrl as vm'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".hideWine").click(function(e){
				$("#wineInfo").hide();
				$("#dashboard").show();
			});
			$(".hideDash").click(function(e){
				$("#dashboard").hide();
				$("#wineInfo").show();
			});
		})

	</script>

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="jumbotron">


          <ul class='navbar'>
          	<li><a class="btn btn-default dashBtn" ng-click="logout()" >Logout</a></li>
            <li><a class="btn btn-default dashBtn hideDash" >Home</a></li>
						<li><a class="btn btn-default dashBtn hideWine" >Dash</a></li>
						<li><a class="btn btn-default dashBtn" data-toggle="collapse" data-target="#settings">Settings</a></li>
          </ul>


					<div id="settings" class="collapse">
						<input ng-model="profile.name"/>
						<button class="btn btn-default dashBtn" ng-click="update()">Update Profile</button>
					</div>

					<h2>
  					Hello, {{profile.name}}!
  				</h2>

  				<p>
  					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  				</p>

  			</div>
			</div>
		</div>
	</div>

	<div class="container" id="wineInfo">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-6 wine">
            <h2>Red Wines</h2>
  				</div>
  				<div class="col-md-6 wine">
            <h2>White Wines</h2>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 wine">
            <h2>Rose Wine</h2>
  				</div>
  				<div class="col-md-6 wine">
            <h2>Champagne</h2>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 wine">
            <h2>Ports</h2>
  				</div>
  				<div class="col-md-6 wine">
            <h2>Sangria</h2>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<section id="dashboard">
	<div class="container">
  	<div class="row">
  		<div class="col-md-12 dashwrap">
				<h1>Mi Vino Dashboard</h1>
				<p>	{{wines.length}} wine bottle(s) in {{profile.name}}'s collection'</p>

				<form class="flex-container">
					<input class="flex-item" ng-model="wine.name" placeholder="Wine Name"/>
					<input class="flex-item" ng-model="wine.winery" placeholder="Winery"/>
					<input class="flex-item" ng-model="wine.type" placeholder="Wine Variety"/>
					<input class="flex-item" ng-model="wine.year" placeholder="Wine Year"/>
					<input class="flex-item" ng-model="wine.location" placeholder="Wine Location"/><br><br>
						<button ng-click="addWine()">Add Wine</button>
				</form>


				<div id="wineDisplay"ng-repeat="wine in wines">
					<b>{{wine.name}}</b><br>
					{{wine.winery}}<br>
					{{wine.year}}
					{{wine.type}}<br>
					{{wine.location}}
					<br><button ng-click="removeWine(wine)">Destroy</button><hr>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
