<div class="jumbotron col-md-6 col-md-offset-3 dash-head">
    <a href="" ng-click="showReg()">{{status}}</a>
    <div ng-show="!reg">
        <h2>Login</h2>
        <form ng-submit="login()">
          <!-- <h3>woo@woo.com</h3> -->
          <img src="http://www.pd4pic.com/images800_/red-glass-wine-juice-drawing-cup-bottle-cartoon.png" width="120" alt="" />
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input type="email" placeholder="Email" class="form-control" ng-model="details.email" required><br>
            <input type="password" placeholder="Password" class="form-control" ng-model="details.password" required><br>
            <input type="submit" class="btn btn-blk" value="Sign In">
        </form>
    </div>
    <div ng-show="reg">
        <h2>Register</h2>
        <form ng-submit="register()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input class="form-control" type="text" placeholder="Full Name" ng-model="details.name" required /><br />
            <input class="form-control" type="email" placeholder="Email" ng-model="details.email" required /><br />
            <input class="form-control" type="password" placeholder="Password" ng-model="details.password" required /><br />
            <input type="submit" class="btn btn-blk btn-lg" value="Register" />
        </form>
    </div>
</div>
